<div class="container">
    <div class="btns">
        <button class="btn btn-secondary" (click)="resultnum(rndnumber[0])">{{ rndnumber[0] }}</button>
        <button class="btn btn-secondary" (click)="resultnum(rndnumber[1])">{{ rndnumber[1] }}</button>
        <button class="btn btn-secondary" (click)="resultnum(rndnumber[2])">{{ rndnumber[2] }}</button>
        <button class="btn btn-secondary" (click)="resultnum(rndnumber[3])">{{ rndnumber[3] }}</button>
        <button class="btn btn-secondary" (click)="resultnum(rndnumber[4])">{{ rndnumber[4] }}</button>
        <button class="btn btn-secondary" (click)="resultnum(rndnumber[5])">{{ rndnumber[5] }}</button>
    </div>

    <div class="selected">
        <h1>You have Selected</h1>
        <div class="result">
            <input type="number" value="{{result}}">
        </div>

    </div>
</div>